@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito', sans-serif;
}

.toggled {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    background-color: #cccccc;
}